<div style="background: linear-gradient(-35deg, #8B5CF6, #D6BCFA); border-radius: 10px; padding: 20px; width:85%;font-family: Helvetica, sans-serif;">
  <h1 style="color: #FFFFFF; font-size: 32px; margin-bottom: 20px;">Welcome to Polynotes, {{username}}!</h1>
  <p style="color: #FFFFFF; font-size: 18px; margin-bottom: 20px;">Thank you for signing up for our web note taking platform. We're excited to have you on board! With Polynote, you'll have access to a powerful and intuitive note-taking tool that will help you stay organized and productive.</p>
  <p style="color: #FFFFFF; font-size: 18px; margin-bottom: 20px;">Whether you're taking notes for work, school, or personal projects, Polynote's easy-to-use interface and robust features make it the perfect tool for all your note-taking needs. Plus, with our secure cloud storage and syncing capabilities, you can access your notes from anywhere, on any device.</p>
  <p style="color: #FFFFFF; font-size: 18px; margin-bottom: 20px;">To get started, please click the following link to verify your email address:</p>
  <a href="{{verificationLink}}" style="background-color: #FFFFFF; color: #8B5CF6; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 18px; display: inline-block;">Verify Email Address</a>
</div>
